.home{
    
    padding: 100px 0;
    text-align: center;
     background: #4C1D95;
  border-radius: 5px;
  box-shadow: 
    8px 8px 16px #d1d9e6,
   -8px -8px 16px #ffffff;

    .home-content{
        max-width: 800px;
        margin: 0 auto;

        h1{
            font-size: 36px;
            margin-bottom: 20px;
        }
        @media(max-width: 768px){
            font-size: 28px;
        }
        p{
            font-size: 18px;
            color: #090909;
            margin-bottom: 40px;

            @media(max-width: 768px){
            font-size: 16px;
        }
        }
        button{
            padding: 12px 24px;
        }
    }
}