body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial,  sans-serif;
}

.common-btn{
  background-color: #F5C542;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-top: 10px;
  

  &:hover{
    background-color: #5e0265;
  }
  @media(max-width: 768px){
    font-size: 16px;

  }
}